@import "colors";

.search-header-container {
    background-color: map-get($gray, 100);
    border-bottom: 1px solid #e5e5e9;
    border-top: 1px solid #e5e5e9;

    .tabs {
        .tab {
            align-items: center;
            background-color: map-get($gray, 100);
            color: map-get($gray, 500);
            cursor: pointer;
            display: flex;
            font-family: "Gilroy";
            font-size: 16px;
            font-weight: 500;
            justify-content: center;
            line-height: 26px;
            padding-bottom: 3px;
            padding-left: 24px;
            padding-right: 24px;
            .tab-icon {
                background-color: map-get($gray, 100);
                padding-right: 10px;
            }
        }

        .tab-selected {
            align-items: center;
            background-color: #F2F2F4;
            border-bottom: 3px solid map-get($brand, "violet");
            color: map-get($gray, 900);
            cursor: pointer;
            display: flex;
            font-family: "Gilroy";
            font-size: 16px;
            font-weight: 700;
            height: 50px;
            justify-content: center;
            line-height: 26px;
            padding-left: 24px;
            padding-right: 24px;
            .tab-icon {
                background-color: #F2F2F4;
                padding-right: 10px;
            }
        }
    }
}

.search-header {
    @apply justify-center;

    @screen md {
        @apply justify-between;
    }

    @screen lg {
        @apply mx-auto justify-start;
    }

    background-color: map-get($gray, 100);
}
